.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 50px;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.img {
  border: 1px solid #B54213;
}

#show {
  background-color: rgba(0, 0, 0, 0.8);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

#border {
  border: 5px solid #B54213;
}

.red {
  color: red;
}

.form-control.red {
  border: 2px solid red;
  color: #000;
}

.form-control:hover { 
  border: 2px solid #B54213;
}

b,
th {
  color: #B54213;
}

.table-info {
  --bs-table-bg: #ffffff;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ffffff;
  --bs-table-hover-color: #000;
  color: #000;
  border: 2px solid #B54213;
}

.bg-secondary {
  background-color: #B54213 !important
}

.bg-info {
  background-color: white !important
}

.bg-dark {
  background-color: #B54213 !important
}

.bg-body {
  background-color: #EBEBEB !important
}

.err {
  color: red;
}